@charset 'utf-8';

.wrap{display:none;}
    .clearfix::after{content:'';display:block;clear:both;}
    /* 기본 스타일 */
    /* 모바일 우선방식 */
    @media(min-width:360px){
      @import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap');

      *{box-sizing:border-box;}
      html,body{position: relative;height: 100%;}
      .wrap{display:block;height:100%;}
      .container{width:100%;height:100%;margin:0 auto;padding:0 15px;max-width:1200px;}

      header{width:100%;height:0;border-bottom:1px solid black;position:fixed;left:0;top:0;z-index:1000;overflow: hidden;transition:0.3s;background-color:#ffffff;}
      header.active{height:100px;}
      header .row{width:100%;height:100px;display:flex;justify-content:space-between;align-items:center;}
      .main_logo{font-family: 'Sansita Swashed', cursive;font-size:2rem;}
      .btn_ham{cursor: pointer;}
      .btn_ham::before,.btn_ham::after{content:'';display:block;width:30px;height:6px;background-color:#000000;}
      .btn_ham>span{display:block;width:30px;height:6px;background-color:#000000;text-indent:-99999px;margin:9px 0;}
      nav{width:0;height:100vh;background-color:#000000;position:fixed;right:0;top:0;overflow: hidden;transition:0.3s;}
      nav.active{width:100vw;}
      nav>ul{padding:30px 15px;}
      nav>ul>li{border-bottom:1px solid #ffffff;padding:20px 0;cursor:pointer;color:#ffffff;font-size:1.2rem;}
      nav>ul>li:first-child{text-align:right;}      

      .swiper-container {width: 100%;height: 100%;}    
      .swiper-container-vertical > .swiper-pagination-bullets{right:50px;}
      .swiper-pagination{background-color:transparent;}
      .swiper-pagination-bullet {width:16px;height:16px;background:black;}
      .swiper-pagination-bullet.swiper-pagination-bullet-active{background:red;opacity:1;}
      .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 20px 0;}
      .swiper-container1 .swiper-slide{height:300px;width: 500px;} 
      .slide_level01{box-sizing:border-box;}  
      #intro,#about{padding-top:100px;}
      #intro{background: -webkit-linear-gradient(90deg, rgb(196, 255, 252), rgb(246, 190, 255));}
      #about{background: -webkit-linear-gradient(90deg, #fad0c4 0%, #ffd1ff 100%);}
      #skill{background: -webkit-linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);}
      #portfolio,#call_me{padding-bottom:160px;}
      #call_me{background: -webkit-linear-gradient(120deg, #8e9eab 0%, #eef2f3 100%);}
      .slide_level01>.container{padding:60px 0;}

      .port_content{display: in;}

      .btn_top{position:fixed;right:20%;bottom:30%;z-index:10000;opacity: 0.05;transition:0.3s;cursor: pointer;}
      .btn_top:hover{opacity:1;}

    }
